.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#countrySelectContainer {
  background-color: #282c34;
  height: 300px;
  /* height: 300%; */
  padding-top: 1rem;
  z-index: 2;
  margin-top: 6.5%;
  /* margin-top: -10%; */
}

#europeMap {
}

#mapAndGraphContainer {
  display: flex;
  height: 500px;
}

#graphContainer {
  flex: 1;
  background-color: green;
  height: 600px;
  width: 500px;
  margin-left: 2rem;
}

#mapContainer {
  flex: 2;
  height: 500px;
  width: 1000px;
  z-index: -1;
}

#destSelect {
  background-color: grey;
}

.tradeFlowBtn {
}

#activeBtn {
  background-color: red;
}

#passiveBtn {
  background-color: grey;
}
