:root {
  --darkBackground: #2b2b2b;
  --lightForeGround: #5e5e5e;
  --lightestGrey: #a6a6a6;
}

body {
  background-color: var(--darkBackground);
}

.App {
  text-align: center;
  background-color: var(--darkBackground);
  color: white;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#countrySelectContainer {
  background-color: var(--lightForeGround);
  height: 100px;
  padding-top: 1rem;
  min-width: 600;
}

#europeMap {
}

#mapAndGraphContainer {
  display: flex;
  height: 500px;
}

#graphContainer {
  flex: 1;
  background-color: var(--darkBackground);
  height: 600px;
  margin-left: 2rem;
  /* border: 3px solid var(--lightForeGround); */
}

#graphSvg {
  margin-left: -15%;
  width: 410px;
  margin-bottom: 10%;
}

#mapContainer {
  flex: 2;
  height: 500px;
  width: 1100px;
}

#forceBlocksContainer {
  border: 5px solid var(--lightForeGround);
  /* max-height: "300px"; */
  height: "300px";

  /* min-height: "300px"; */
}

#forceBlocksTitle {
  margin-left: -7%;
}
#forceTooltip {
  position: relative;
  background-color: #896ddb;
  /* padding: 5px; */
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 1px;
  border-radius: 10px;
  opacity: 0.95;
  box-shadow: 3px 3px 0 0 #636363;
}

.hideMe {
  visibility: hidden;
}

.showMe {
  visibility: visible;
}

#destSelect {
  background-color: grey;
}

.tradeFlowBtn {
}

#activeBtn {
  background-color: #ed0c57;
}

#passiveBtn {
  background-color: var(--lightestGrey);
}
